body{
    margin: 0;
}
.navbar{
    position: fixed;
    overflow: hidden;
    background: blue;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    padding: 14px 16px;

}
